.Chat {
    text-align: left;
    overflow-y: scroll;
    transition: opacity 0.25s linear;

    &.hidden {
        opacity: 0;
    }
}

.messageBubble {
    border-radius: 15px;
    padding: 10px;
    width: 40%;
    margin: 5px 10px;
    min-width: 270px;
}

.incomingMessage {
    margin-right: auto;
    margin-left: 5px;
    border: 1px solid lightgray;
    background: lightgray;
}

.outgoingMessage {
    margin-left: auto;
    margin-right: 5px;
    border: 1px solid lightblue;
    background: cornflowerblue;
    color: white;
    padding-right: 0px;
}

.clear {
    height: 10px;
    width: 100%;
}